@import 'tailwindcss';
@plugin './hero.ts';
@source '../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --font-mono: 'Roboto Mono', monospace;
  --carrot: #d97706;
  --orange: #ac5e04;
  --squash: #fbbf24;
  --barn: #2f3e46;
  --bone: #fcf8f3;
}

h1 {
  @apply text-7xl my-4;
}

h2 {
  @apply text-6xl my-4;
}

h3 {
  @apply text-5xl my-4;
}

h4 {
  @apply text-4xl my-4;
}

h5 {
  @apply text-3xl my-4;
}

h6 {
  @apply text-2xl my-4;
}

p {
  @apply text-xl;
}

.richTextSt h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply text-[var(--carrot)];
}

.farmDetailRichText h1,
h3,
p {
  @apply text-white;
}

.farmForm {
  label {
    @apply text-[var(--carrot)] font-semibold;
  }
}
