@import 'tailwindcss';
@plugin './hero.ts';
@source '../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --font-mono: 'Roboto Mono', monospace;
  --carrot: #d97706;
  --squash: #fbbf24;
  --barn: #2f3e46;
  --bone: #fcf8f3;
}

h1 {
  @apply text-7xl my-4;
}

h2 {
  @apply text-5xl my-4;
}

p {
  @apply text-xl;
}
